doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDoMa3TLDfAFLuDZC-N9KvZZyPQpydsL-8&libraries=geometry')
    script(type='text/javascript' src='/javascripts/home.js')
  body
    block content